<footer class="footer-section" id="foot">
    <div class="container">
        <div class="footer-container">
            <div class="footer-text-container">
                <h3 class="footer-subtitle">homemade ice cream made </h3>
                <h2 class="footer-title ">with passion</h2>
            </div>
            <div class="footer-address-container">
                <div class="footer-icons-container">
                    <ul class="footer-list">
                      <li class="footer-roster">
                          <a href="https://github.com/Tate-T/ice-cream-project" class="footer-icon" >
                            <img src="img/github.webp" alt="github link">
                          </a>
                      </li>
                      <li class="footer-roster">
                          <a href="https://web.telegram.org/a/" class="footer-icon">
                            <img src="img/telegram.webp" alt="telegram link">
                          </a>
                      </li>
                      <li class="footer-roster">
                        <a href="https://uk-ua.facebook.com/" class="footer-icon">
                          <img src="img/facebook.webp" alt="facebook link">
                        </a>
                      </li>
                    </ul>
                </div>
                <a href="#" class="footer-info">Feel free to contact <span class="footer-number">+61 (0) 383 766 284</span></a>
            </div>
        </div>
      </div>
    </div>
    <p class="footer-data">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
