<footer>
    <p>homemade ice cream made </p>
    <p>with passion</p>
    <ul>
        <li><a href="https://github.com/Tate-T/ice-cream-project"><img src="img/github.webp" alt="github link"></a></li>
        <li><a href="https://web.telegram.org/a/"><img src="img/telegram.webp" alt="telegram link"></a></li>
        <li><a href="https://uk-ua.facebook.com/"><img src="img/facebook.webp" alt="facebook link"></a></li>
    </ul>
    <a href="#">Feel free to contact<span>+61 (0) 383 766 284</span></a>
    <p>© 2022 - IceCream. All Rights Reserved. </p>
</footer>
