<footer class="footer-section">
    <p class="footer-text">homemade ice cream made </p>
    <p class="footer-sentence ">with passion</p>
    <ul class="footer-list">
        <li class="footer-roster"><a href="https://github.com/Tate-T/ice-cream-project" class="footer-icon" ><img src="img/github.webp" alt="github link"></a></li>
        <li class="footer-roster"><a href="https://web.telegram.org/a/" class="footer-icon"><img src="img/telegram.webp" alt="telegram link"></a></li>
        <li class="footer-roster"><a href="https://uk-ua.facebook.com/" class="footer-icon"><img src="img/facebook.webp" alt="facebook link"></a></li>
    </ul>
    <a href="#" class="footer-info">Feel free to contact<span class="footer-number">+61 (0) 383 766 284</span></a>
    <p class="footer-data">© 2022 - IceCream. All Rights Reserved. </p>
</footer>
