<header class="header-section"> 
        <div class="container header-container">
                
                        <img class="header-logo" src="img/logo.webp" alt="logo">
                        <ul class="header-list">
                                <li class="header-navigation"><a class="header-roster" href="#">Home</a></li>
                                <li class="header-navigation"><a class="header-roster" href="#made">How it’s made?</a></li>
                                <li class="header-navigation"><a class="header-roster" href="#products">Our products</a></li>
                                <li class="header-navigation"><a class="header-roster" href="#foot">Contact</a></li>
                        </ul>

                        <button  class="header-button" type="button">Buy now ></button>
        </div>
</header>
