<header class="header-section">
  <img class="header-logo" src="./img/logo.webp" alt="logo" />
  <ul class="header-list">
    <li class="header-navigation">
      <a class="header-roster" href="#">Home</a>
    </li>
    <li class="header-navigation">
      <a class="header-roster" href="#">How it’s made?</a>
    </li>
    <li class="header-navigation">
      <a class="header-roster" href="#">Our products</a>
    </li>
    <li class="header-navigation">
      <a class="header-roster" href="#">Contact</a>
    </li>
  </ul>
  <button class="header-button" type="button">Buy now ></button>
</header>
