<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Seymour+One&display=swap">
<link rel="stylesheet" href="../css/hero.css">
<section class="hero">
    <div class="container hero-div">
        <div class="container">
            <h1 class="hero-text">ice cream made with passion</h1> 
            <button class="hero-btn-product" type="button">Products</button>
            <a href="" class="hero-link">How it’s made?</a> 
        <div class="tarelka">
            <img class="hero-img" src="../img/ice-cream.webp" alt="ice-cream-in-dish">
            <p class="hero-text1">Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable experience!</p>
            <!-- <img src="../img/hero-arrow.webp" alt="strelka"> -->
        </div> 
         </div>
        <img class="hero-img-ice" src="../img/main-ice-cream.webp" alt=""> 
        <div class="containerr big-ice">
            <ul class="list-namber">
                <li class="namber">
                    <p class="hero-namber">16</p>
                </li>
                <li class="namber-text">
                    <p class="hero-text2">cafes</p>
                </li>
                <li class="namber">
                    <p class="hero-namber">23</p>
                </li>
                <li class="namber-text">
                    <p class="hero-text2">food trucks</p>
                </li>
            </ul>
        </div>
    </div>
</section>
