<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="./locations.css">
<section class="location">
    <div class="container">
        <h2 hidden>location</h2>
        <ul class="location-list">
            <li class="location-item">
                <h3 class="location-title">CAFE</h3>
                <ul class="location-box">
                    <li class="location-item">
                        <h4 class="sub-title">Chicago</h4>
                        <p class="location-addres">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
                    </li>
                    <li class="location-item">
                        <ul class="location-scroll">
                            <li class="location-item">
                                <h5 class="location-time">Monday - Friday</h5>
                                <p class="location-text">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="location-item">
                                <h5 class="location-time">Saturday - Sunday</h5>
                                <p class="location-text">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </li>
                    <li class="location-item">
                        <ul class="location-docket">
                            <li class="location-item">
                                <a class="location-number" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                            </li>
                            <li class="location-item">
                                <a class="location-email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        </li>
        <li class="location-item">
            <h3 class="location-title">FOOD TRUCK</h3>
            <ul class="location-beadroll">
                <li class="location-item">
                    <h4 class="sub-title">Los Angeles</h4>
                    <p class="location-addres">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
                </li>
                <li class="location-item">
                    <ul class="location-nomenclature">
                        <li class="location-item">
                            <h5 class="location-time">Monday - Friday</h5>
                            <p class="location-text">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="location-item">
                            <h5 class="location-time">Saturday - Sunday</h5>
                            <p class="location-text">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="location-item">
                    <ul class="location-bill">
                        <li class="location-item">
                            <a class="location-number" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="location-item">
                            <a class="location-email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        </ul>
        </li>
        <li class="location-item">
            <h3 class="location-title">CAFE</h3>
            <ul class="location-catalog">
                <li class="location-item">
                    <h4 class="sub-title">New York</h4>
                    <p class="location-addres">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
                </li>
                <li class="location-item">
                    <ul class="location-register">
                        <li class="location-item">
                            <h5 class="location-time">Monday - Friday</h5>
                            <p class="location-text">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="location-item">
                            <h5 class="location-time">Saturday - Sunday</h5>
                            <p class="location-text">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="location-item">
                    <ul class="location-schedule">
                        <li class="location-item">
                            <a class="location-number" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="location-item">
                            <a class="location-email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        </ul>
        </li>
        </ul>
    </div>
</section>