<section class="products">
    <div class="container">
        <h2 class="products-title">100% NATURAL</h2>
        <h2 class="products-tittle">PRODUCTS</h2>
        <ul class="products-list">
            <li class="products-item">
                <article class="products-article">
                    <img class="products-photo" src="../img/product-1.webp" alt="ice cream">
                    <h2 class="products-main-title">ICE CREAM</h2>
                    <p class="products-maim-text">Soft ice cream with a delicate taste. Made with milk, cream, sugar
                        and natural stabilizer</p>
                </article>
            </li>
            <li class="products-item">
                <article class="products-article">
                    <img class="products-photo" src="../img/product-2.webp" alt="teamilk">
                    <h2 class="products-main-title">ICE COFFEE</h2>
                    <p class="products-maim-text">Fragrant invigorating drink created from 100% natural ingredients
                        without the use of preservatives and flavor enhancers</p>

                </article>
            </li>
            <li class="products-item">
                <article class="products-article">
                    <img class="products-photo" src="../img/product-3.webp" alt="cocktail">
                    <h2 class="products-main-title">MILKSHAKES</h2>
                    <P class="products-maim-text">Sweet drinks based on milk and ice cream, supplemented with
                        syrups, fruits, berries and other sweets of your choice</p>
                </article>
            </li>
        </ul>
    </div>
</section>