<section class="reviews">
  <h2 hidden>Reviews</h2>
  <img src="../img/reviews-img.webp" alt="many ice cream" class="reviews-img" />
  <img src="../img/" alt="" class="reviews-icon" />
  <p class="reviews-desc">
    I love visiting your cafe. You prepare the most delicious ice cream in Los
    Angeles! In addition, you have beautiful serving, cozy atmosphere and polite
    staff.
  </p>
  <p class="reviews-info">Emily, Los Angeles</p>
  <ul class="reviews-dots">
    <li class="reviews-dot"></li>
    <li class="reviews-dot"></li>
    <li class="reviews-dot"></li>
  </ul>
</section>
