:root {
  --additional: #fcfcfc;
  --text: #131313;
  --main-bg: #84a178;
  --accent: #f8d24e;
  --bg-card-1: #aec6a5;
  --bg-card-2: #efd478;
  --bg-card-3: #d6936d;
  --time-text: #ababab;
  --footer-copyright: #7a7a7a;
}
