.footer-section {
background-color: var( --main-bg);
padding-bottom: 12px;
}

.footer-subtitle {
    color: var(--additional);
font-size: 30px;
font-weight: 400;
letter-spacing: 1.2px;
text-transform: uppercase;
margin-bottom: 14px;
}

.footer-title {
    color: var(--additional);
font-size: 58px;
font-weight: 700;
letter-spacing: 3.48px;
text-transform: uppercase;
}

.footer-info {
    color: var( --text);
font-size: 16px;
font-weight: 700;
line-height: 1.86; 
letter-spacing: 0.32px;
}

.footer-number {
    color:var(--additional);
font-size: 16px;
font-weight: 700;
line-height: 1.86;
letter-spacing: 0.32px;
}

.footer-data {
    color: var(--footer-copyright);
font-size: 12px;
font-weight: 700;
line-height: 1.86; 
letter-spacing: 0.24px;
width: 255px;
height: 20px;
flex-shrink: 0;
margin-left: auto;
margin-right: auto;
margin-top: 12px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #E1E1E1;
    padding-bottom: 60px;
}

.footer-list {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
   padding-top: 18px;
}

.footer-icons-container {
    margin-left: auto;
    margin-bottom: 40px;
}