.footer-section {
    width: 1168px;
height: 214px;
flex-shrink: 0;
background-color: #84A178;
}

.footer-text {
    color: #FCFCFC;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.2px;
text-transform: uppercase;
}

.footer-sentence {
    color: #FCFCFC;
font-family: Montserrat;
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 3.48px;
text-transform: uppercase;
}

.footer-info {
    color: #131313;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 186%; /* 29.76px */
letter-spacing: 0.32px;
}

.footer-number {
    color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 186%;
letter-spacing: 0.32px;
}

.footer-data {
    color: #7A7A7A;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 186%; /* 22.32px */
letter-spacing: 0.24px;
width: 255px;
height: 20px;
flex-shrink: 0;
}