

.location-list {
  display: flex;
}

.location-title {
    color: var(--text);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.64px;
    width: 48px;
    border-radius: 6px;
    background: #F8D24E;
}

.sub-title {
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.64px;
}

.location-addres {
    color: var(--bg-card-3);
    font-size: 16px;
    font-weight: 500;
    line-height: 183%;
    letter-spacing: 0.64px;
}

.location-time {
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.64px;
}

.location-text {
    color: var(--time-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 186%;
    width: 167.695px;
}

.location-number {
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

.location-email {
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

.location {
  background-color: var(--main-bg);
}
