.made {
  background-color: var(--main-bg);
  padding: 60px 0 178px;
}

.made-subtitle {
  color: var(--additional);
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.made-title {
  color: var(--additional);
  text-align: center;
  font-family: Seymour One;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 2.16px;
  text-transform: uppercase;
  margin-bottom: 82px;
}

.made-article {
  display: flex;
  gap: 109px;
  align-items: center;
  margin-bottom: 60px;
}

.made-img {
  box-shadow: 0 -16px 0 0 var(--accent);
}

.made-paragraph {
  color: var(--additional);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.64px;
  width: 463px;
  margin-bottom: 8px;
}

.made-paragraph:last-child {
  margin-bottom: 0;
}

.made-btn {
  margin-top: 54px;
  color: var(--text);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  border-radius: 10px;
  background: var(--accent);
  border: none;
  padding: 12px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.made-btn:hover {
  background-color: #0a8817;
}

.made-btn:focus {
  color: var(--additional);
  background-color: #0a8817;
}

.made-svg:focus {
  color: var(--additional);
}

.made-list {
  display: flex;
}

.made-icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--accent);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.made-subheading {
  color: var(--additional);
  text-align: center;
  font-size: 58px;
  font-weight: 700;
  letter-spacing: 2.32px;
  margin-top: 47px;
  margin-bottom: 12px;
}

.made-info {
  color: var(--additional);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.32px;
  max-width: 368px;
}
