.products {
    background-image: url(../img/bg-ice-cream.webp);
    padding-bottom: 60px;
    padding-top: 60px;
}

/*title*/
.products-title {
    color: #131313;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 12px;
    width: 256px;
    height: 37px;
    margin-left: auto;
    margin-right: auto;
}

.products-tittle {
    color: #131313;
    text-align: center;
    font-family: Seymour One;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 120px;
    margin-top: 12px;
    size: 20px;
    width: 329px;
    height: 45px;
    margin-bottom: 303px;
    margin-left: auto;
    margin-right: auto;
}

/*products-text and tittle*/

.products-main-title {
    color: #131313;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.products-maim-text {
    color: #131313;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 176%;
    letter-spacing: 0.64px;
    width: 242px;
    height: 142px;
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 66px;
}

.products-list {
    display: flex;
    gap: 29px;
}

/*items*/

.products-item {
    width: 370px;
    height: 536px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #AEC6A5;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);
    padding-top: 165px;
    position: relative;
}

.products-item:nth-child(2) {
    border-radius: 24px;
    background: #EFD478;
}

.products-item:nth-child(3) {
    border-radius: 24px;
    background: #D6936D;
}

.products-item::after {
    content: "";
    display: block;
    width: 40px;
    height: 16px;
    background-size: 40px;
    background-image: url(../css/style.css);
    background-repeat: no-repeat;
    background-position: center;
}

/*photo*/

.products-photo {
    position: absolute;  
    top: -170px;
    right: 34px;
}

.products-icon {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}