.reviews {
  background-image: url(../img/bg-ice-cream.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 464px;
  padding-bottom: 228px;
  background-color: var(--additional);
}

.reviews-container {
  position: relative;
  height: 361px;
}

.reviews-slider {
  width: 1013px;
  height: 923px;
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 93px;
}

.reviews-slides {
  width: 300%;
  height: 100%;
  display: flex;
}

.reviews-navs {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 18px;
}

.reviews-bar {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.reviews-bar:hover {
  background-color: var(--main-bg);
}

.reviews-img {
}

.reviews-icon {
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 140px;
}

.reviews-desc {
  color: var(--additional);
  background-color: var(--main-bg);
  border-radius: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.64px;
  margin: 32px auto;
  text-align: center;
  padding: 43px 109px;
  width: 750px;
  box-sizing: content-box;
}

.reviews-info {
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.86;
  text-align: center;
}

input[type='radio'] {
  visibility: hidden;
  position: absolute;
}

.reviews-item {
  position: relative;
  width: 33.3333333%;
  transition: all 0.7s ease;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -33.3333333%;
}

#r3:checked ~ .s1 {
  margin-left: -66.6666666%;
}
