.reviews {
  background-image: url(../img/bg-ice-cream.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 464px;
  padding-bottom: 228px;
  background-color: var(--additional);
}

.reviews-container {
  position: relative;
}

.reviews-img {
  position: absolute;
  bottom: 501px;
  left: 93px;
}

.reviews-icon {
  border-radius: 50%;
  margin: 0 auto;
}

.reviews-desc {
  color: var(--additional);
  background-color: var(--main-bg);
  border-radius: 24px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.64px;
  margin: 32px auto;
  text-align: center;
  padding: 43px 74px;
  width: 750px;
  box-sizing: content-box;
}

.reviews-info {
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.86;
  text-align: center;
}

.reviews-dots {
  display: flex;
  gap: 18px;
  justify-content: center;
  margin-top: 32px;
}

.reviews-dot {
  background-color: #d9d9d9;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  cursor: pointer;
}

.reviews-dot:hover {
  background-color: var(--main-bg);
}

.reviews-dot:first-child {
  background-color: var(--main-bg);
}
