/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  outline: solid red;
}
.location {
  background-color: #84A178;
}
.location-list {
  border-radius: 24px;
background: #FFF;
box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);
}
.location-title {
  color: #131313;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 22.4px */
letter-spacing: 0.64px;
width: 48px;
border-radius: 6px;
background: #F8D24E;
width: 76px;
height: 30px;
flex-shrink: 0;
margin-bottom: 32px;
margin-left: 40px;
}
.sub-title {
  color: #131313;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 186%; /* 29.76px */
letter-spacing: 0.64px;
margin-bottom: 8px;
margin-left: 40px;
}
.location-addres {
  color: #D6936D;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 183%; /* 29.28px */
letter-spacing: 0.64px;
margin-bottom: 64px;
margin-left: 40px;
}
.location-iteme {
  width: 288px;
height: 0px;
flex-shrink: 0;
stroke-width: 1px;
stroke: #E1E1E1;
margin-top: 32px;
margin-bottom: 32px;
margin-left: 40px;
}
.sub-text {
  color: #ABABAB;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 186%; /* 29.76px */
width: 167.695px;
margin-bottom: 12px;
margin-left: 40px;
}
.location-item {
  color: #131313;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 186%; /* 29.76px */
letter-spacing: 0.64px;
margin-left: 40px;
}
.location-iteme {
  width: 288px;
height: 0px;
flex-shrink: 0;
stroke-width: 1px;
stroke: #E1E1E1;
margin-top: 32px;
margin-bottom: 32px;
margin-left: 40px;
}
.location-number {
  color: #131313;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
margin-top: 64px;
margin-left: 40px;
}
.location-email {
  color: #131313;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
margin-left: 40px;
}