@import url("./reset.css");
@import url("./header.css");
@import url("./hero.css");
@import url("./product.css");
@import url("./made.css");
@import url("./reviews.css");
@import url("./locations.css");
@import url("./footer.css");

:root {
  --additional: #fcfcfc;
  --text: #131313;
  --main-bg: #84a178;
  --accent: #f8d24e;
  --bg-card-1: #aec6a5;
  --bg-card-2: #efd478;
  --bg-card-3: #d6936d;
  --time-text: #ababab;
  --footer-copyright: #7a7a7a;
}

body {
  font-family: Montserrat;
}

.container {
  width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
  outline: red 3px dashed;
}